/* .login-form-container{
  display: grid !important;
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  place-content: center !important;
}

.login-form-label{
  font-family: cubano, sans-serif !important;
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.login-form-button{
  font-family: cubano, sans-serif !important;
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

.login-form-input{
  margin: 1rem !important;
  border-radius: 0.25rem !important;
  border-width: 2px !important;
  --tw-border-opacity: 1 !important;
  border-color: rgb(74 222 128 / var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
  padding: 0.5rem !important;
  text-align: center !important;
  font-family: cubano, sans-serif !important;
  font-size: 1.5rem !important;
  line-height: 2rem !important;
  font-weight: 400 !important;
  --tw-text-opacity: 1 !important;
  color: rgb(74 222 128 / var(--tw-text-opacity)) !important;
  --tw-drop-shadow: drop-shadow(0 0 9px rgba(34,197,94,0.9)) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
} */
.login-blackout {

}

.login-container {
  max-width: 90vw;
  /* Restrict width to prevent overflow */
  margin: 1.5rem auto;
  /* Centers the container with some margin */
  border-width: 0;
  border-style: solid;
  background-color: var(--modal_color);
  z-index: 51;
  position: relative;
}

.login-grouper {
  position: relative !important;
}

.login-grouper:hover .login-grouper-hover\:opacity-100{
  opacity: 1 !important;
}

.login-details-container {
  border-radius: 0.3rem !important;
  padding: 1.5rem !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(var(--modal_color)) !important;
  place-content: center !important;
  display: grid !important;
  position: relative !important;
}

.modal-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

/* background-color: rgb(var(--modal_color) / var(--tw-bg-opacity)) !important; */