
:root {
  --body_background: rgb(2, 140, 140);
  --body_background: rgb(2, 140, 140);
  --body_color: black;
  --link_color: green;
}
[data-theme="dark"] {
  --body_main: #29E4B4;
  --body_background: #090c0b;
  --container_background: #2e3732;
  --text_color: #e2ece9;
  --secondary_text_color:#94afa6;
  --modal_color: #151a18;
  --button_color: #434b48;
  --button_hover_color: #245145;
  --form_text_color: black;
  --text_area_color: #4c5652;
  --divider_color:   #94afa6;
  --section_divider_top_border: 1px solid var(--divider_color);
  --navbar_color: #29E4B4;
}

[data-theme="ethanlight"] {
  --body_main: #29E4B4;
  --body_background: #bdffe9;
  --container_background: #ffffff;
  --text_color: #000000;
  --secondary_text_color:#32413c;
  --modal_color: #547b6e;
  --button_color: #d2f6ea;
  --button_hover_color: #41977b;
  --form_text_color: black;
  --text_area_color: white;
  --divider_color:   #94afa6;
  --section_divider_top_border: none;
  --input_form_border: 1px solid #86ccb5;
  ;
}

[data-theme="light"] {
  --body_main: #29E4B4;

  --body_background: #bdffe9;
  --container_background: #ffffff;
  --text_color: #000000;
  --secondary_text_color:#32413c;
  --modal_color: #5d8276;
  --button_color: #d2f6ea;
  --button_hover_color: #41977b;
  --form_text_color: black;
  --text_area_color: white;
  --divider_color:   #94afa6;
  --section_divider_top_border: none;
  --input_form_border: 1px solid #86ccb5;
  --greeting_background: rgb(175, 254, 224);
  /* --greeting_background: #ECF3F3; */
  --navbar_color: #CCE4D7;
  --call_to_action_background: #129E9E;
  --call_to_action_text: #ffffff;
}

/* [data-theme="dark"] {
  --body_main: #29E4B4;
  --body_background: #090c0b;
  --container_background: #2e3732;
  --text_color: #e2ece9;
  --secondary_text_color:#94afa6;
  --modal_color: #151a18;
  --button_color: #434b48;
  --button_hover_color: #245145;
  --form_text_color: black;
  --text_area_color: #4c5652;
} */

body {
  background-color: var(--body_background) !important;
  color: var(--text_color) !important;
}

.rounded{
  border-radius: 0.25rem !important;
  background-color: var(--body_background) !important;
  color: var(--text_color) !important;
}

.rounded{
  border-radius: 0.25rem !important;
}

/* .main-title {
  padding-top: 20px;
} */

.or {
  margin-top: 4px;
  margin-right: 2px;
  padding: 0.5rem !important;

}


.or {
  margin-top: 4px;
  margin-right: 2px;
  padding: 0.5rem !important;
}

/* .modal-content {
  background-color: var(--modal_color);
  position: absolute;
  align-items: center;
  left: auto;
  right: auto;
  margin: 0 auto;
} */

/* .post-modal {
  background-color: var(--modal_color);
  position: absolute;
  align-items: center;
  left: auto;
  right: auto;
  margin: 0 auto;
/* .modal-content {
  background-color: var(--modal_color);
  position: absolute;
  align-items: center;
  left: auto;
  right: auto;
  margin: 0 auto;
} */

/* .post-modal {
  background-color: var(--modal_color);
  position: absolute;
  align-items: center;
  left: auto;
  right: auto;
  margin: 0 auto;
}



.modal-dialog {
  background-color: var(--modal_color);

  left: auto;
  right: auto;
  margin: 0 auto;
} */

.date {
  color: var(--secondary_text_color);
  font-size: 14px;
}

.modal-dialog {
  background-color: var(--modal_color);

  left: auto;
  right: auto;
  margin: 0 auto;
} */

.date {
  color: var(--secondary_text_color);
  font-size: 14px;
}

.ml-4{
  margin-left: 1rem !important;
}

.flex{
  display: flex !important;
}

.flex-col{
  flex-direction: column !important;
}

.justify-center{
  justify-content: center !important;
}

.main-title {

    place-content: center !important;

}

.create-new-post-form {
  flex-direction: column !important;
  margin-top: 0em;
  width: 100%;
  display: flex !important;
  background-color: var(--container_background) !important;
  justify-content: center !important;
  padding: 12px 16px 10px 16px;
  margin: auto;
}

.news-feed-container {
  display: grid;
  flex-direction: column !important;
  margin-top: 0em;
  display: flex !important;
  background-color: var(--body_background) !important;
  justify-content: center !important;
  margin: auto;
}


.head {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
}

.head-left {
  flex-direction: center;
}

.head-right {
  right: 100%;
}

/* @media screen and (max-width: 460px) {
  .flex {
    display: block;
  };
  .create-new-post-form {
    width: 100%;
    border-radius: 0px;
  }
  .news-feed-container {
    width: 100%;
    border-radius: 0px;
  }
  .post-container {
    width: 100%;
  }

} */
.modal-content {
  background-color: var(--modal_color) !important;

}

.main-title > .login-to-join {
  font-size: 16px;
}

.main-title > .login-to-join >
.login-buttons-container {
  margin-top: 0 !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.main-title > .login-to-join >
.login-buttons-container  {
  padding: 0 5px  !important;

}
.please-text {
  padding-right: 5px;
}
.signup-btn-txt {
  padding-right: 5px;
}

.or-text {
  padding: 0 5px 0 5px;
}

.nav-item {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .create-new-post-form {
    width: 800px;
    border-radius: 0.5rem !important;
    margin-top: 20px
  }
  .post {
    width: 800px;
  }
  .news-feed-container {
    width: 800px;
    border-radius: 0.5rem !important;
  }
  .post-container {
    padding: 10px 0 10px;
    border-radius: .5rem;
    width: 100%;
    margin: auto;
  }
  .letter {
    width: 100%;
  }
  .letter-container {
    padding: 10px 0 10px;
    border-radius: .5rem;
    width: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    width: 850px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .comments-container {
    width: 800px;
  }
  /* .post-modal {
    width: 900px;
  } */

  .reply-container {
    margin: 0 0 0 1.5em;
    position: relative;

    margin-left: 10%;
    padding-left: 15px;
  }
}

@media screen and (max-width: 799px) { /* Adjust as per your mobile screen size definition */
  .login-to-join {
    width: 100%;
  }
  .news-feed-container {
    width: 100% !important
  }
  .p-4.flex.flex-col.justify-start.mobile-full-width {
      position: flex;
      top: auto; /* adjust this as needed */
      width: 90vw; /* full width of the parent container */
      margin: auto;
      padding: 10px
  }
  .post-container {
    width: 100% important!;
    margin: 0;
    border-radius: 0;
    padding: 5px 0 5px

  }
  .letter-container {
    width: 100% important!;
    margin: 0;
    border-radius: 0;
    padding: 5px 0 5px

  }

  .post-container > .details-container {
    border-radius: 0;
  }

  .comment {
    width: 100%;
  }
  .comments-container {
    width: 90%;
    margin: auto;
  }
  .post {
    margin: 0 !important;
    width: 100%;
  }
  .post .details-container {
    border-radius: 0 !important;
  }

  .create-reply{
    width: 100% !important;
  }

  .reply-container {
    margin: 0 0 0 1.5em;
    position: relative;
    /* border-left: 2px solid #29E4B4;  */
    margin-left: 20px; /* Adjust as needed */
    padding-left: 15px;
  }


  /* .modal-weird-content {
    top: 0;
    left: auto;
    right: auto;
  }
  .modal-container, .overlay {
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  } */


  /* .post-modal {
    width: 100%;
  }
  .modal-content {
    width: 100vw;
  }
  .modal-dialog {
    max-width: 90% !important;
    width: 100% !important;
    margin-left: none !important;
    margin-right: none !important;
  } */


}

.details-container {
  background: var(--container_background);
  color: var(--text_color) !important;
  padding: 5px 10px 5px 10px;
  /* margin: 1em auto auto auto; */
  border-radius: 8px;
  width: 100%;
}

.post {
  padding: 20px 0 0px 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.comment {
  padding: 10px 0 10px 0;
  border-radius: 8px;
}

.post-content-container {
  overflow-wrap: break-word;
  color: var(--text_color) !important;
  border-top: var(--section_divider_top_border);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.head {
  color: var(--text_color) !important;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
}



.wall-title {
  color: var(--body_main);
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
  background-color: var(--greeting_background);
}

.create-post-submit-button {
  font-size: 20px;
  border-radius: 8px;
  color: var();
}

.create-comments-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

 .left-border-line {
  opacity: 100%;
  position: absolute;

  transform: translate(-55px, -55px);
  width: 0;

  background-color: var(--secondary_text_color);
  border-left: 3px solid;
  border-color: var(--secondary_text_color);

}

.left-border-line-from-comment {
  opacity: 100;

  position: absolute;

  transform: translate(-59px, -10px);
  width: 0;

  background-color: var(--secondary_text_color);
  border-left: 3px solid;
  border-color: var(--secondary_text_color);

}

.left-curve {

  /* top: -96px;
  left: -55px; */
  transform: translate(0, -95px);
  margin-bottom: 10px;
  left: -20px;
  width: 35px;
  background: transparent;
  height: 80px;
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-bottom-left-radius: 15px; /* Adjust for desired curvature */
  border-color: var(--secondary_text_color);
  position: absolute;
  border-right: 0px;
  border-top: 0px
}

/* .reply-container  > .comment.flex.flex-col.rounded > .details-container >
  .head.flex.justify-between > .head-left.flex.flex-col > .flex.items-center >
  .name :first-child::after {
    height: 0;
  } */

#new-comment-submit {
  margin-top: 5px;
  border: none !important;
  color: var(--text_color);
  background-color: var(--button_color);
}

#new-comment-submit:hover {
  background-color: var(--button_hover_color);
}



body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}



.overlay {
  background: rgba(20, 20, 20, 0.8);
}
.modal-weird-content {
  position: relative;

  /* transform: translate(-50%, -50%); */
  line-height: 1.4;
  background: var(--modal_color) !important;
  /* padding: 14px 28px; */
  border-radius: 8px;
  max-width: 900px;
  min-width: 300px;
  z-index: 99;
  overflow: auto;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.modal-back-button {
  width: 50px;
  border-radius: 8px;
  background-color: #29E4B4;
  color:black;
  justify-content: center;
  align-content: center;
  padding: 5px;
  font-size: 30px;
  display: flex;
  transform: translate(0, 10px)
}


.search-letters {
  width: 800px;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}


.sender-location-details {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: start; /* Align items to the start of the container */
  flex-wrap: nowrap; /* Prevent wrapping to a new line */
}

.sender-signoff, .sender-name, .sender-description, .sender-country, .sender-state, .sender-city {
  white-space: nowrap; /* Prevent text wrapping inside each div */
  font-size: 14px;
}

.recipient-description {
  font-size: 14px;
}

.call-to-action-container {
  padding: 20px 0 20px 0;
  background-color: var(--greeting_background);
  justify-content: center;
  display: flex;
}

.action-button {
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: var(--call_to_action_background);
  color: var(--call_to_action_text);
  border: none;
}

.write-a-message {
  width: 804px;
  padding: 7px 89px;
}