:root {
  --body_background: rgb(2, 140, 140);
  --body_color: black;
  --link_color: green;
}
[data-theme="dark"] {
  --body_main: #29E4B4;
  --body_background: #090c0b;
  --container_background: #2e3732;
  --text_color: #e2ece9;
  --secondary_text_color:#94afa6;
  --modal_color: #151a18;
  --button_color: #434b48;
  --button_hover_color: #245145;
  --form_text_color: black;
  --text_area_color: #4c5652;
  --divider_color:   #94afa6;
  --section_divider_top_border: 1px solid var(--divider_color);
  --navbar_color: #29E4B4;
}

[data-theme="ethanlight"] {
  --body_main: #29E4B4;
  --body_background: #bdffe9;
  --container_background: #ffffff;
  --text_color: #000000;
  --secondary_text_color:#32413c;
  --modal_color: #547b6e;
  --button_color: #d2f6ea;
  --button_hover_color: #41977b;
  --form_text_color: black;
  --text_area_color: white;
  --divider_color:   #94afa6;
  --section_divider_top_border: none;
  --input_form_border: 1px solid #86ccb5;
}

[data-theme="light"] {
  --body_main: #29E4B4;
  --body_background: #bdffe9;
  --container_background: #ffffff;
  --text_color: #000000;
  --secondary_text_color:#32413c;
  --modal_color: #5d8276;
  --button_color: #bdffe9;
  --button_hover_color: #41977b;
  --form_text_color: black;
  --text_area_color: white;
  --divider_color:   #94afa6;
  --section_divider_top_border: none;
  --input_form_border: 1px solid #86ccb5;
  --greeting_background: rgb(154, 255, 216);
  --navbar_color: #9be6cd;
  --call_to_action_background: #129E9E;
  --call_to_action_text: #ffffff;
  --cancel_background: #e0f7fa;
  --cancel_background_hover: #c2e2e6;
  --cancel_text: #000000;
  --cancel_border: border: 1px solid #a9a9a9;
  --title_text-color: #41977b;
  --like_filled_color: #23b79a;
}

body {
  background-color: var(--body_background) !important;
  color: var(--text_color) !important;
}

.header-container {
  background-color: var(--call_to_action_background) !important;
}

.rounded{
  border-radius: 0.25rem !important;
  background-color: var(--body_background) !important;
  color: var(--text_color) !important;
}

.or {
  margin-top: 4px;
  margin-right: 2px;
  padding: 0.5rem !important;
}

.ml-4{
  margin-left: 1rem !important;
}

.flex{
  display: flex !important;
}

.flex-col{
  flex-direction: column !important;
}

.justify-center{
  justify-content: center !important;
}

.main-title {
  place-content: center !important;
}

.create-new-post-form {
  flex-direction: column !important;
  margin-top: 0em;
  width: 100%;
  display: flex !important;
  background-color: var(--container_background) !important;
  justify-content: center !important;
  padding: 12px 16px 10px 16px;
  margin: auto;
}

.news-feed-container {
  display: grid;
  flex-direction: column !important;
  margin-top: 0em;
  display: flex !important;
  background-color: var(--body_background) !important;
  justify-content: center !important;
  margin: auto;
}

.modal-dialog {
  background-color: var(--modal_color);
  left: auto;
  right: auto;
  margin: 0 auto;
}

.modal-content {
  background-color: var(--modal_color) !important;
}

.main-title > .login-to-join {
  font-size: 16px;
}

.main-title > .login-to-join > .login-buttons-container {
  margin-top: 0 !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-title > .login-to-join > .login-buttons-container {
  padding: 0 5px  !important;
}

.please-text {
  padding-right: 5px;
}

.signup-btn-txt {
  padding-right: 5px;
}

.or-text {
  padding: 0 5px 0 5px;
}

.nav-item {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .create-new-post-form {
    width: 800px;
    border-radius: 0.5rem !important;
    margin-top: 20px;
  }

  .post {
    width: 800px;
  }

  .news-feed-container {
    width: 800px;
    border-radius: 0.5rem !important;
  }

  .post-container {
    padding: 10px 0 10px;
    border-radius: .5rem;
    width: 100%;
    margin: auto;
  }

  .letter {
    width: 100%;
  }

  .letter-container {
    padding: 10px 0 10px;
    border-radius: .5rem;
    width: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    width: 850px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .comments-container {
    width: 800px;
  }

  .reply-container {
    margin: 0 0 0 1.5em;
    position: relative;
    margin-left: 10%;
    padding-left: 15px;
  }
}

@media screen and (max-width: 799px) {
  .login-to-join {
    width: 100%;
  }

  .news-feed-container {
    width: 100% !important;
  }

  .p-4.flex.flex-col.justify-start.mobile-full-width {
    position: flex;
    top: auto;
    width: 90vw;
    margin: auto;
    padding: 10px;
  }

  .post-container {
    width: 100% !important;
    margin: 0;
    border-radius: 0;
    padding: 5px 0 5px;
  }

  .letter-container {
    width: 100% !important;
    margin: 0;
    border-radius: 0;
    padding: 5px 0 5px;
  }

  .post-container > .details-container {
    border-radius: 0;
  }

  .comment {
    width: 100%;
  }
  .create-comment-textbox {
    width: 100%;
    margin: auto;
    height: 100px;
    padding: 10px 0 10px;
    margin: 0;
  }
  .create-comments-container {
    width: 90%;
    margin: 10px 5px 10px 5px;
  }

  .comments-container {
    width: 90%;
    margin: auto;
  }

  .post {
    margin: 0 !important;
    width: 100%;
  }

  .post .details-container {
    border-radius: 0 !important;
  }

  .create-reply-container {
    width: 100% !important;
  }

  .reply-container {
    margin: 0 0 0 1.5em;
    position: relative;
    margin-left: 20px;
    padding-left: 15px;
  }
}

.post {
  padding: 20px 0 0px 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.comment {
  padding: 0 0 20px 0;
  border-radius: 8px;
}

.wall-title {
  color: var(--call_to_action_background);
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
  background-color: var(--body_background);
}

.create-post-submit-button {
  font-size: 20px;
  border-radius: 8px;
  color: var();
}

@media screen and (min-width: 800px) {
  .create-comments-container {
    margin-top: 20px;
    width: 800px;
  }
}

.left-border-line {
  opacity: 100%;
  position: absolute;
  transform: translate(-55px, -55px);
  width: 0;
  background-color: var(--secondary_text_color);
  border-left: 3px solid;
  border-color: var(--secondary_text_color);
}

.left-border-line-from-comment {
  opacity: 100;
  position: absolute;
  transform: translate(-59px, -10px);
  width: 0;
  background-color: var(--secondary_text_color);
  border-left: 3px solid;
  border-color: var(--secondary_text_color);
}

.left-curve {
  transform: translate(0, -95px);
  margin-bottom: 10px;
  left: -20px;
  width: 35px;
  background: transparent;
  height: 80px;
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-bottom-left-radius: 15px;
  border-color: var(--secondary_text_color);
  position: absolute;
  border-right: 0px;
  border-top: 0px;
}

#new-comment-submit {
  margin-top: 5px;
  border: none !important;
  color: var(--text_color);
  background-color: var(--button_color);
}

#new-comment-submit:hover {
  background-color: var(--button_hover_color);
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.overlay {
  background: rgba(20, 20, 20, 0.8);
}

.modal-weird-content {
  position: relative;
  line-height: 1.4;
  background: var(--modal_color) !important;
  border-radius: 8px;
  max-width: 900px;
  min-width: 300px;
  z-index: 99;
  overflow: auto;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.modal-back-button {
  width: 50px;
  border: none;
  background-color: transparent;
  color: var(--body_background);
  justify-content: center;
  align-content: center;
  padding: 5px;
  font-size: 40px;
  display: flex;

}

@media screen and (min-width: 800px) {
  .modal-back-button {
    transform: translateX(20px) translateY(5px);
  }

}

@media screen and (max-width: 799px) {

}