.notification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 14px;
}

.notification-icon {
  position: relative;
  font-size: 24px;
}

.notification-icon .fa {
  font-size: 2rem; /* Adjust the size as needed */
  color: #333; /* Adjust the color as needed */
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 10px;
  font-weight: bold;
}

.notification-text {
  font-size: 12px;
  color: #333;
  margin-top: 5px;
  text-align: center;
}

.navbar-login-container .profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px; /* Adds space between avatar and username */
  padding: 0; /* Remove any extra padding */
}

.profile-wrapper {
  display: flex;
  align-items: center;
}

.username {
  margin-left: 8px; /* Adjust space between profile picture and username */
}

.navbar-login-container .dropdown-toggle::after {
  margin-left: 1px; /* Adds space between username and the down carrot */
  display: inline-block;
  vertical-align: middle; /* Ensures the carrot aligns with the text */
}
