/* .modol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 90%;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 15px;
} */