.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-container img {
  height: 100px;
}

.navbar {
  background: rgba(72, 207, 173, 0.9);
  display: flex;
  align-items: center;  /* This will vertically align all elements in navbar */
}

.navbar-toggler.collapsed {
  color: black;
}

.collapse.navbar-collapse {
  position: relative;
  right: 0;
}

/* Make sure all elements in navbar menu are also centered */
.navbar-menu-right {
  display: flex;
  align-items: center;
  color: black;
}

/* Target login and signup specifically */
#login, #sign-up {
  display: flex;
  align-items: center;
}

.nav-item-custom {
  margin-right: 15px;
}

/* .dropdown-menu {
  background-color: rgba(72, 207, 173, 0.9) !important;
}

.dropdown-item {
  background-color: rgba(72, 207, 173, 0.9) !important;
  color: black; /* Adjust color as needed */
}

